{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="bg-dark text-light py-5">
    <div class="container text-center">

        <h1 class="fw-bold text-uppercase tracking-tight">
            UNGOVERNED DUAL-TRACK OFF-ROAD ELECTRIC PLATFORM
        </h1>

        <p class="text-secondary small mb-4">
            ENGINEERED WITHOUT COMPROMISE
        </p>

        <div class="mb-4">
            <a href="{% url 'orders_list' %}" class="btn btn-outline-light btn-sm px-4 me-2">Orders</a>
            <a href="{% url 'component_list' %}" class="btn btn-outline-light btn-sm px-4 me-2">Inventory</a>
            <a href="{% url 'product_bom' %}" class="btn btn-outline-light btn-sm px-4">Build</a>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <img src="{% static 'images/vendetta_water_720x.jpeg' %}" alt="Electric Skateboard"
             class="img-fluid rounded mb-4" style="max-height: 600px;">
    </div>

    <div class="d-flex justify-content-center mt-5">
        <img src="{% static 'images/UNGOVERNED_logo_n_text_BLK_background_730x.jpg' %}"
             class="img-fluid rounded mb-4 logo-muted"
             style="max-height: 100px;">
    </div>
</div>
{% endblock %}
