/* custom.css */

.text-orange {
  color: orange;
}

.text-blue {
  color: blue;
}

.bg-deep-blue {
  background-color: #003366; /* A dark blue */
}

.bg-light-blue {
  background-color: #cce5ff; /* A light blue */
}

.text-white {
  color: white;
}

table thead.table-header-blue th {
  background-color: #007bff !important;
  color: white !important;
}

.navbar .nav-link {
    opacity: 0.85;
    transition: all 0.2s ease;
}

.navbar .nav-link:hover {
    opacity: 1;
}

.navbar .nav-link.active {
    font-weight: bold;
    opacity: 1;
    border-bottom: 2px solid white;
}
